@import url('https://frankramblings.com/type/fontawesome/css/all.css');
@import url('https://frankramblings.com/type/font-mint-grotesk-regular.css');
@import url('https://frankramblings.com/type/font-mint-grotesk-bold.css');
@import url('https://frankramblings.com/type/font-mint-grotesk-italic.css');

* {
	box-sizing: border-box;
}

body {
	font-size: 1.2em;
	margin: 0;
	padding: 2em;
	font-family: 'Mint Grotesk', sans-serif;
  	background: linear-gradient(#01293a, #006e83);
    	color: #fff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	overflow-wrap: break-word;
}

main {
	display: block;
	max-width: 30em;
	border-radius: 1em;
	margin: 0 auto;
	text-align: center;
	background: rgba(0, 0, 0, .4);
	padding: 2em;
}

h1 {
	margin: 0;
}

#profile-items {
	padding: .5em 0 0 0;
	margin: 1.5em 0 0 0;
}

#profile-items :is(h1, h2, h3, h4, h5, h6) {
	text-align: left;
	margin: 0;
}

#profile-items h1 { font-size: 1.2em; }
#profile-items h2 { font-size: 1.2em; }
#profile-items h3 { font-size: 1.2em; }
#profile-items h4 { font-size: 1.1em; }
#profile-items h5 { font-size: 1.1em; }
#profile-items h6 { font-size: 1.1em; }

#profile-picture-container {
	margin: auto;
	color: #555;
	margin-bottom: 1em;
}

#profile-picture {
	border-radius: 0.25em;
	height: 8.7em;
	
}

#pronouns {
        color: #bebebe;
}

#pronouns a:link,
#pronouns a:visited,
#pronouns a:hover,
#pronouns a:active {
	color: #666;
}

#details {
	margin: 1em 0;
}

#location {
	display: inline-block;
}

#occupation {
	display: inline-block;
}

#location, #occupation {
	margin: .5em;
	padding: 0 .5em;
}

#bio {
	text-align: center;
	font-size: 110%;
	line-height: 140%;
}

    #footer a:link, #footer a:visited, #footer a:hover, #footer a:active {
    color: #fff;
    text-decoration: none;
    border: 0;
    }
    #footer {
        margin-top: 2em;
    }
    a:link,
    a:visited {
        color: #fff;
    }
    a:hover,
    a:active {
        color: #fff;
        text-decoration-color: #fff;
        border-bottom: 2px solid #fff;
    }

hr {
	border: 0;
	height: 1px;
	background: #333;
	margin: 1.5em 0;
}

@media (max-width: 500px) {
	body {
		font-size: 1em;
		padding: 1em;
	}
}
